h1{
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#aditya{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    /* color: chartreuse; */
    letter-spacing: 30px;
    text-shadow: -10px 20px 10px red;
}

.yuyu-short-regular {
  font-family: "Yuyu Short", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: bisque;
}
#vikash{
    font-size:30px;
    text-align: center;
    border: 1px,solid;

}
p{
    font-size: 15px;
    font-weight:bolder;
    line-height: 2;
    font-style: italic;
    letter-spacing: 3px;
    word-spacing: 30px;
}
#anu{
    font-style: italic;
    font-variant: small-caps;
    
}
em{
    font-style: normal;
    color: hsl(359, 100%, 80%);
    color: hsla(112, 90%, 47%, 0.35);
}
#nilesh{
    text-align: center;
    border: 1px,solid;
    display: block;
    border-color: red;
    /* text-decoration: underline; */
    text-decoration: underline dashed ;
    text-decoration: line-through;
    text-decoration: overline;
    text-decoration:  underline wavy;
    text-transform: capitalize;
    text-transform: lowercase;
    text-transform: uppercase;
    text-indent: 30px;

}
#p{
    /* color: darkgoldenrod;
    color: #000000;
    color: #ffffff;
    color: #ff0000;
    color: #00ff00;
    color: #0000ff;
    color: rgb(255, 0, 0); */
    color: rgba(red, green, blue, yellow);

}

