*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* h1{
    border: 1px solid lightsalmon;
    width: 800px;#w
    height: 80px;
} */
.box{
    display: inline-block;
    border:1px solid red;
    width: 200px;
    height: 100px;
    margin-top: 20px;
    position: relative;
    /* left: 70px; */
    /* top: 35px; */
    background-color: cadetblue;
    text-align: center;
    /* padding: 100px;
     */
}

#p{
    /* border: 1px solid rebeccapurple; */
    /* display: none; */
    /* visibility: hidden; */
    display: inline-block;
    background-color: red;
    /* margin: auto; */
    color: wheat;
    width: 140px;
    height: 140px;
    text-align: center;
    border-radius: 50%;
    font-size: 60px;
    padding: 30px;
    position: absolute;
    /* top: 480; */
    left: 500px;
    top: -400px;
    /* left: 50px; */

}
#wrapper{
    border: 20px solid blue;
    width: 100vw;
    height: 100vh;
    padding: 100px;
    position: relative;
    

}
#box3{
    /* position: absolute; */
    position: fixed;
    /* top: 30px; */
    /* left: 50px; */
}
#box1{
    position: relative;
}
#box2{
    position: sticky;
    top: 10px;
}
#box4{
    position: relative;
    left: 50px;
    background-color: yellow;
    z-index: -1;
}
#box5{
    position: relative;
    z-index: -2;
}
.cart{
    position: relative;
    /* border: 1px solid black; */
    /* width: 40px; */
    /* height: 40px; */
}
#img{
    position: relative;
    bottom: 300px;
    left: 450px;
}